<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ha.custcom.webview.lib">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.CommonActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>
